/* 组件: 时间控件: 上层包装 */
.main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.container {
  position: fixed;
  z-index: 29;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3)
}

.date-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 540rpx;
  width: 100%;
  background: #fff;
  border-radius: 15rpx 15rpx 0 0;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 100rpx;
  padding: 0 30rpx;
  border-bottom: 1rpx solid #E1E1E1;
  font-size: 30rpx;
}

.cancel-btn {
  color: #666;
}

.confirm-btn {
  color: #C9342E;
}

.mp-time-control {
  height: 100%;
}